.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderImg {
    object-fit: cover;
    background-position: center center;
    background-repeat:no-repeat;
}
.sliderText{
    position: absolute;
    left:100px;
    top:80px

}
.sliderTextTitle{
    font-size: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.sliderTextContent{
    text-align: left;
    color: white;
    font-weight: 400;
    font-size: 30px;
}
.sliderButton{
    border:none;
    margin-top: 40px;
    width: 130px;
    height: 50px;
    border-radius:5px;
    color:white;
    margin-right: 25px;
    cursor: pointer;
    font-weight: 600;
}
.buttonLeft{

    background-color: #3F6EAF;
    
}

.buttonRight{
    background-color: #2E363A;
}